[default]
  desc = "this is default setting"

  [[default.settings]]
    dest      = "VGA-1"
    direction = "above"
    src       = "LVDS-1"


[custom]
  desc = "this is custom setting"
 
  [[custom.settings]]
    dest      = "VGA-1"
    direction = "above"
    src       = "LVDS-1"

  [[custom.settings]]
    dest      = "HDMI-1"
    direction = "left"
    src       = "VGA-1"
